<!DOCTYPE html>
<html>
<head>
	
  <title>ClaudineCooper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

   <%= google_webfonts_link_tag "Muli", "Oswald", "Yanone Kaffeesatz", "Lobster", "Droid Serif", "Vast Shadow", "Fauna One", "Judson", "Playfair Display", "Philosopher" %>

</head>
<body>

<%= yield %>

</body>
</html>
